
{include file="admin/header" title="新增店铺" /}

<div id="app">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">店铺域名</label>
            <div class="layui-input-block">
                <input type="text" name="host" lay-verify="required" placeholder="请输入店铺域名" autocomplete="off"
                       class="layui-input input-width">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">店铺名称</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="name" lay-verify="required" autocomplete="off" lay-affix="clear"
                       class="layui-input input-width" placeholder="请输入店铺名称">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">API Key</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="api_key" lay-verify="required" autocomplete="off" lay-affix="clear"
                       class="layui-input input-width" placeholder="请输入API Key">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">API秘钥</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="api_secret" lay-verify="required" autocomplete="off" lay-affix="clear"
                       class="layui-input input-width" placeholder="请输入API秘钥">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-width">Admin Token</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="admin_token" lay-verify="required" autocomplete="off" lay-affix="clear"
                       class="layui-input input-width" placeholder="请输入Admin Token">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">Store Token</label>
            <div class="layui-input-inline layui-input-wrap">
                <input type="text" name="store_token" lay-verify="required" autocomplete="off" lay-affix="clear"
                       class="layui-input input-width" placeholder="请输入Store Token">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">版本号</label>
            <div class="layui-input-block input-width">
                <select name="version">

                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="status" lay-skin="switch" lay-filter="switchTest" title="ON|OFF">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-card">
                <div class="layui-card-header" style="text-align: center;">支付信息</div>
                <div class="layui-card-body">
<!--                    支付方式1-->
                    <div class="layui-fluid">
                        <div class="layui-row" style="justify-content:flex-start;display: flex;width:100%">
                            <div class="layui-col-md10">
                              <div class="layui-row">
                                  <div class="layui-col-md4">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">支付方式</label>
                                          <div class="layui-input-block">
                                              <select name="pay_methods">

                                              </select>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="layui-col-md4 ">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">模式</label>
                                          <div class="layui-input-block">
                                              <input type="checkbox" name="mode" lay-skin="switch" lay-filter="switchTest" title="TEST|LIVE">
                                          </div>
                                      </div>
                                  </div>

                                  <div class="layui-col-md2 ">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">状态</label>
                                          <div class="layui-input-block">
                                              <input type="checkbox" name="status" lay-skin="switch" lay-filter="switchTest" title="OFF|ON">
                                          </div>
                                      </div>
                                  </div>

                                  <div class="layui-col-md2">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">申请状态</label>
                                          <div class="layui-input-block">
                                              <input type="checkbox" name="apply_status" lay-skin="switch" lay-filter="switchTest" title="OFF|ON">
                                          </div>
                                      </div>
                                  </div>

                              </div>
                              <div class="layui-row">
                                  <div class="layui-col-md4">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">商户号</label>
                                          <div class="layui-input-block">
                                              <input type="text" name="store_token" lay-verify="required" autocomplete="off" lay-affix="clear"
                                                     class="layui-input" placeholder="请输入Store Token">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="layui-col-md4">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">Client ID</label>
                                          <div class="layui-input-block">
                                              <input type="text" name="store_token" lay-verify="required" autocomplete="off" lay-affix="clear"
                                                     class="layui-input " placeholder="请输入Store Token">
                                          </div>
                                      </div>
                                  </div>

                                  <div class="layui-col-md4">
                                      <div class="layui-form-item">
                                          <label class="layui-form-label">Secret</label>
                                          <div class="layui-input-block">
                                              <input type="text" name="store_token" lay-verify="required" autocomplete="off" lay-affix="clear"
                                                     class="layui-input " placeholder="请输入Store Token">
                                          </div>
                                      </div>
                                  </div>

                              </div>

                            </div>

                            <div class="layui-col-md2" style="justify-content: center;display: flex;flex-direction: column;">
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                <button class="layui-btn layui-btn-danger layui-btn-sm" style="align-items: center;">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="demo1">立即创建</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>



<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script>

    layui.use(['form'], function () {
        var form = layui.form;
        var layer = layui.layer;
        // 自定义验证规则
        form.verify({
            pass: function (value) {
                if (!/(.+){6,12}$/.test(value)) {
                    return '密码必须 6 到 12 位';
                }
            }
        });

        // 提交事件
        form.on('submit(demo1)', function (data) {
            var field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
            layer.alert(JSON.stringify(field), {
                title: '当前填写的字段值'
            });
            // 此处可执行 Ajax 等操作
            // …
            return false; // 阻止默认 form 跳转
        });

    });
</script>

{include file="admin/footer" /}