{extend name="admin/layout" /}

{block name="content"}


    <div class="layui-row layui-col-space10">
        <div class="layui-col-md3">
            <div class="grid-demo grid-demo-bg1 fcol">
                <div class="empty"></div>
                <div class="data-title">订单总计</div>
                <div class="data-value">10.00</div>
                <div class="empty"></div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo fcol">
                <div class="empty"></div>
                <div class="data-title">订单总计</div>
                <div class="data-value">10.00</div>
                <div class="empty"></div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo grid-demo-bg1 fcol">
                <div class="empty"></div>
                <div class="data-title">订单总计</div>
                <div class="data-value">10.00</div>
                <div class="empty"></div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo fcol">
                <div class="empty"></div>
                <div class="data-title">订单总计</div>
                <div class="data-value">10.00</div>
                <div class="empty"></div>
            </div>
        </div>
    </div>


{/block}