{include file="admin/header" title="$title"/ }
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">Shopify Admin</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                <a href="javascript:;">
                    <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">个人信息</a></dd>
                    <dd><a href="javascript:;">设置</a></dd>
                    <dd><a href="/admin/logout">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item {if $Request.url eq '/admin/home'} layui-nav-itemed {/if} " ><a href="/admin/home">首页</a></li>

                <li class="layui-nav-item {if $Request.url eq '/admin/shop/list'} layui-nav-itemed {/if}">
                    <a class="" href="javascript:;">店铺管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('/admin/shop/list')}">店铺列表</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item {if $Request.url eq '/admin/order/list'} layui-nav-itemed {/if}">
                    <a class="" href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/order/list">订单列表</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item"><a href="javascript:;">系统配置</a></li>
                <li class="layui-nav-item"><a href="javascript:;">开发者</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote layui-text">
               {block name="nav"} {/block}
            </blockquote>
            {block name="content"} {/block}
        </div>
    </div>
    <div class="layui-footer">
        copyright 2023@02
    </div>
</div>
{block name="js"} {/block}

{include file="admin/footer" /}
