{include file="admin/header" title="测试" /}


<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">日期选择器</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="test-date" placeholder="yyyy-MM-dd">
        </div>
    </div>
</form>

<script>
    layui.use(['laydate','form'],function (){
        var form = layui.form;
        var laydate = layui.laydate;

        // 渲染日期时间选择器
        laydate.render({
            elem: '#test-date' // 指定元素
        });

        // 自此可以使用表单和日期控件
        form.render(); // 更新渲染
    });

</script>